
a {
    text-decoration: none ;
}
a:hover {color: azure}

li {list-style-type: none;}

.header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1600px;
    height: 100px;
    background-color: #d4c2c2;
}


.logo {
    position: absolute;
    left: 40px;
    top: 24px;
    font-family: raleway;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    
}
.logo-album {
    color: rgb(55, 55, 133);
}

.nav-panel {
    position: absolute;
    left: 400px;
    top: 30px;
    width: 400px;
    height: 16px;
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #212121;
    list-style-type: none;
}

.egypt-2019 {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: raleway;
}
.egypt-2020 {
    position: absolute;
    left: 100px;
    top: 0px;
    font-family: raleway;

}
.montenegro-2020 {
    position: absolute;
    left: 202px;
    top: 0px;
    font-family: raleway;
}
.turkey-2021 {
    position: absolute;
    width: 200px;
    left: 360px;
    top: 0px;
    font-family: raleway;
}
.ukr-panel {
    position: absolute;
    left: 900px;
    top: 30px;
    width: 210px;
    height: 16px;
    font-family: raleway;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #212121;
    list-style-type: none;
}
.galitsinovka {
    position: absolute;
    left: 0px;
    top: 0px;
}
.karpaty {
    position: absolute;
    width: 200px;
    left: 200px;
    top: 0px;
}

.main {
    position: absolute;
    left: 400px;
    top: 0px;
}



.photo-section {
    position: absolute;
    width: 1400px;
    height: 800px;
    left: 100px;
    top: 100px;
}

.title-photo {
    position: absolute;
    width: 200px;
    height: 40px;
    left: 600px;
    top: 20px;
    font-family: raleway;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    color: #212121;
}

.photo-first-section {
    position: absolute;
    width: 1200px;
    height: 520px;
    left: 100px;
    top: 100px;
    list-style-type: none;
    padding: 0 0 0 0;
}
.photo-first-section-mne {
    position: absolute;
    width: 300px;
    height: 520px;
    left: 0px;
    top: 0px;
}

.photo-first-section-egy {
    position: absolute;
    width: 300px;
    height: 520px;
    left: 450px;
    top: 0px;
}

.photo-first-section-tur {
    position: absolute;
    width: 300px;
    height: 520px;
    left: 900px;
    top: 0px;
}

.tara {
    position: absolute;
    top: 100px;
    width: 1600px;
    height: 2400px;
    background-color: aquamarine;
}
.sect-pics {
    position: absolute;
    top: 100px;
    width: 1600px;
    height: 1500px;
    color:khaki;
}
.mne-1 {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 300px;
    height: 560px;
}
.mne-2 {
    position: absolute;
    top: 100px;
    left: 650px;
    width: 300px;
    height: 560px;
}
.mne-3 {
    position: absolute;
    top: 100px;
    left: 1150px;
    width: 300px;
    height: 560px;
}
.mne-4 {
    position: absolute;
    top: 750px;
    left: 330px;
    width: 300px;
    height: 560px;
}
.mne-5 {
    position: absolute;
    top: 750px;
    left: 970px;
    width: 300px;
    height: 560px;
}

.mne-title {
    position: absolute;
    top: 430px;
    left: 0px;
    text-align: center;
    font-family: raleway;
}
.mne-text {
    position: absolute;
    top: 480px;
    left: 0px;
    text-align: center;
    font-family: raleway;
    color:#757575;
}
.shadow-1 {
    box-shadow: 10px 10px 15px 10px #757575;
}